body {
  margin: 0 auto 0 auto;
  text-align: center;
}

h1 {
  font-family: 'Redressed', cursive;
  font-size: 6em;
  color: #CAF0F8;
}

h2 {
  font-family: 'Redressed', cursive;
  font-size: 2rem;
  color: black;
  font-weight: normal;
}

h3 {
  font-family: 'Redressed', cursive;
  font-size: 2em;
  color: #CAF0F8;
}

h4 {
  color: #CAF0F8;
  font-family: 'Redressed', cursive;
  font-size: 1em;
  margin: 0;
  padding-top: 10px;
}

p {
  font-family: 'Redressed', cursive;
  font-size: 1.5rem;
  color: #CAF0F8;
  margin: 0;
  font-weight: normal;
}

/* id's */
/* classes */
.top-container {
  padding-top: 100px;
  position: relative;
  background-color: #90E0EF;
  margin: 0;
}

.middle-container {
  background-color: #00B4D8;
  padding-bottom: 15px;
}

.bottom-container {
  background-color: #03045E;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 400px;
  bottom: 300px;
}

.plane {
  position: absolute;
  left: 270px;
  top: 290px;
}

.boat {
  position: absolute;
  right: 100px;
  top: 782px;
}

.mountain {
  position: relative;
  margin-bottom: -69px;
}

.picture {
  padding-top: 80px;
  width: 15%;

}

.coding {
  margin: 30px;
  width: 25%;
  float: left;

}

.pizza {
  margin: 30px;
  width: 25%;
  float: right;
}

.skills {}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.contact-me {}

.btn {
  border-style: solid;
  background-color: white;
}
